.messages-container {
    margin: 50px 0;
}
input.say {
    margin-top: 7px;
    color: #000 !important;
}
.name {
    color: #a7183c;
}
.date {
    color: #a7a7a7;
    font-size: 0.8em;
}
.message {

}